.card-container-component {
  position: relative;
  z-index: 10;
  width: 1600px;
  margin: auto; }
  .card-container-component h2 {
    text-align: center;
    color: #fff; }

.card-container {
  display: flex;
  flex-wrap: wrap; }

@media screen and (max-width: 1599px) {
  .card-container-component {
    width: 1280px; } }

@media screen and (max-width: 1279px) {
  .card-container-component {
    width: 960px; } }

@media screen and (max-width: 959px) {
  .card-container-component {
    width: 640px; } }

@media screen and (max-width: 639px) {
  .card-container-component {
    width: 320px; } }
