body {
  background-image: url('./space-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Open Sans';
  min-height: 100vh;
}


* {
	box-sizing: border-box;
	outline: none;
}

body {
	background-color: black;
}