body {
  font-family: 'Open Sans';
  background-image: url("./space-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

* {
  outline: none;
  box-sizing: border-box; }

body {
  background-color: black; }
