.card-component {
	background-color: rgba(0,0,0, .8);
	width: 300px;
	height: 399px;
	padding: 20px;
	margin: 10px;
	border: 10px solid rgba(255,255,255, .1);
	border-radius: 25px;
	position: relative;

	.card-header-box {
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: left;
	}

	h3 {
		color: #fff;
		font-size: 22px;
		width: 171px;
		overflow: scroll;
		height: 64px;
		padding: 3px 0;
	}

	h4 {
		font-size: 19px;
		color: #fff;
		line-height: 1.4;
	}	

	span {
		color: rgba(255,255,255,.6);
		font-weight: 400;
	}

	button {
		background: none;
		border: none;
		position: absolute;
		top: 8px;
		right: 8px;
		cursor: pointer;
	}

	.star-outline {
		width: 60px;
		height: 60px;
		background-image: url('star-outline.svg');
		opacity: .4;
		background-repeat: no-repeat;
	}

	.star-outline:hover {
		opacity: 1;
	}

	.star-solid {
		width: 60px;
		height: 60px;
		background-image: url('star-solid.svg');
		background-repeat: no-repeat;
	}

	.overflow {
		height: 96px;
		overflow: scroll;
		/*background: transparent;*/
	}

	::-webkit-scrollbar {
		width: 0px;
		background: transparent;
	};
}

.fave-card {
	border: 10px solid rgba(42, 252, 255, 0.15);
}


