
.film-crawl {
	h3, h4, h5, p {
		color: #ffd600;
		font-family: 'News Gothic Std', sans-serif;
		font-weight: 900;
		opacity: .8;
	}

	h3 {
		font-family: franklin-gothic-ext-comp-urw, sans-serif;
		font-size: 130px;
		margin-bottom: 22px;
	}

	h3, h5 {
		margin-top: 20px;
		text-align: center;
	}

	h5 {
		margin-bottom: 20px;
		font-size: 60px;
	}

	p {
		font-size: 55px;
		line-height: 1.4;
		margin-top: 0;
	}
}

.film-crawl {
	bottom: 0;
	font-size: 350%;
	font-weight: bold;
	height: 50em;
	left: 50%;
	margin-left: -9em;
	overflow: hidden;
	position: absolute;
	text-align: justify;
	transform: perspective(300px) rotateX(25deg);
	transform-origin: 50% 100%;
	width: 18em;
}

.film-crawl:after {
	background-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, transparent 100%);
	bottom: 60%;
	content: ' ';
	left: 0;
	pointer-events: none;
	position: absolute;
	right: 0;
	top: 0;
}

.crawl-content {
	animation: scroll 150s linear 4s infinite;
	position: absolute;
	top: 100%;
}

@keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}

