.header-component {
  margin: auto;
  width: 1273px; }
  .header-component h1 {
    color: #fff;
    opacity: .8;
    text-align: center; }
  .header-component .logo {
    background-image: url("swapi-logo.svg");
    background-repeat: no-repeat;
    height: 162px;
    margin: 0 auto 19px;
    width: 300px; }
  .header-component .header-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 9px; }
  .header-component button {
    align-items: center;
    background-color: rgba(42, 252, 255, 0.65);
    border: none;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-family: 'News Gothic Std', sans-serif;
    font-size: 20px;
    font-weight: 900;
    height: 40px;
    justify-content: center;
    overflow: hidden;
    padding-top: 4px;
    position: relative;
    width: 220px;
    z-index: 1; }
  .header-component button:hover {
    background-color: rgba(42, 252, 255, 0.8);
    box-shadow: 0px 0px 56px -6px #dbe2ff; }
  .header-component span {
    background-color: rgba(0, 93, 94, 0.5);
    padding: 14px;
    position: absolute;
    right: 0;
    top: -5px; }

@media screen and (max-width: 1272px) {
  .header-component {
    width: initial; } }

@media screen and (max-width: 925px) {
  .header-component .header-buttons {
    margin-bottom: -5px; }
  .header-buttons {
    align-items: center;
    flex-direction: column; }
    .header-buttons button {
      margin-bottom: 13px; } }
